<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <title>Update product</title>
</head>
<body>
    <a>update prod</a>

    <div>
        <form th:method="put" th:action="@{/api/v2/admin/products/{id}(id=${productDTO.getId()})}" th:object="${productDTO}">
            <div>
                <label for="nameProduct">Name product</label>
                <input type="text" th:field="*{nameProduct}" id="nameProduct"/>

                <br/>

                <label for="price">Price</label>
                <input type="text" th:field="*{price}" id="price"/>

                <br/>

                <label for="available">Available</label>
                <input type="text" th:field="*{availableProduct}" id="available"/>


                <br/>

                <input type="submit" value="Update">
            </div>
        </form>
    </div>

</body>
</html>