<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>WebShopBy</title>
</head>
<body>
<div>
    <form action="/api/v2/admin/products/new" target="_parent">
        <button type="submit">Add product</button>
    </form>
    <form action="/api/v2/admin/products/update" target="_parent">
        <button type="submit">Update product</button>
    </form>
    <form action="/api/v2/admin/products/delete" target="_parent">
        <button type="submit">Delete product</button>
    </form>
</div>


<div th:if="${not #lists.isEmpty(productList)}">
    <h2 >Products</h2>
    <table class="table table-striped">
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Available</th>
        </tr>
        <tr th:each="productDTO : ${productList}">
            <td th:text="${productDTO.id}"></td>
            <td><a th:href="@{'/api/v2/products/' + ${productDTO.id}}" th:text="${productDTO.nameProduct}" /></td>
            <!--            <td th:text="${productDTO.nameProduct}"></td>-->
            <td th:text="${productDTO.price}"></td>
            <td th:text="${productDTO.availableProduct}"></td>
        </tr>
    </table>
</div>
</body>
</html>