<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>

<form action="/api/v2/products" target="_parent">
    <button type="submit">Main page</button>
</form>

<div >
    <h2 th:text="${productDTO.nameProduct}"></h2>
    <table class="table table-striped">
        <tr>
            <th>id</th>
            <th>Price</th>
            <th>Available</th>
        </tr>
        <tr >
            <td th:text="${productDTO.id}"></td>
            <td th:text="${productDTO.price}"></td>
            <td th:text="${productDTO.availableProduct}"></td>
        </tr>
    </table>
</div>
</body>
</html>