<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <title>WebShopBy</title>

    <meta name="viewport" content="width=device-width, initial3-scale=1">



</head>
<body>

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/api/v2/products">webAppShop</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <form class="nav-link active" action="/api/v2/admin/products" target="_parent">
                        <button type="submit" class="btn btn-default">For admins</button>
                    </form>
                </li>

                <li class="nav-item">
                    <form class="nav-link active" action="/api/v2/registration">
                        <button type="submit" class="btn btn-default">Registration</button>
                    </form>
                </li>

                <li class="nav-item">
                    <form class="nav-link active" action="/api/v2/users/edit">
                        <button type="submit" class="btn btn-default">Edit profile</button>
                    </form>
                </li>

                <li class="nav-item">
                    <form method="post" class="nav-link active" action="/api/v2/logout" target="_parent">
                        <button type="submit" class="btn btn-default">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div th:if="${not #lists.isEmpty(productList)}">
    <h2>Products</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Price</th>
            <th></th>
        </tr>
        </thead>
            <tbody class="table-group-divider">
        <tr th:each="productDTO : ${productList}">
            <td th:text="${productDTO.id}"></td>
            <td th:text="${productDTO.nameProduct}"></td>
            <td th:text="${productDTO.price}"></td>
            <td th:switch="${productDTO.availableProduct}">
                <a th:case="true">Available</a>
                <a th:case="false">Not available</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>