<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>WebShopBy</title>
</head>
<body>

<div>

    <form method="post" action="/api/v2/logout" target="_parent">
        <button type="submit">Logout</button>
    </form>

    <br>

    <form action="/api/v2/admin/products" target="_parent">
        <button type="submit">For admins</button>
    </form>

    <br>

    <form method="get" action="/api/v2/registration">
        <input type="submit" value="Registration">
    </form>

</div>

<div th:if="${not #lists.isEmpty(productList)}">
    <h2>Products</h2>
    <table class="table table-striped">
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Price</th>
<!--            <th>Available</th>-->
        </tr>
        <tr th:each="productDTO : ${productList}">
            <td th:text="${productDTO.id}"></td>
<!--            <td><a th:href="@{'/api/v2/products/' + ${productDTO.id}}" th:text="${productDTO.nameProduct}" /></td>-->
            <td th:text="${productDTO.nameProduct}"></td>
            <td th:text="${productDTO.price}"></td>
            <td th:switch="${productDTO.availableProduct}">
                    <a th:case="true">Available</a>
                    <a th:case="false">Not available</a>
            </td>
<!--            <td th:text="${productDTO.availableProduct}"></td>-->
        </tr>
    </table>
</div>
</body>
</html>