<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h2>Registration</h2>

<form th:method="post" th:action="@{/api/v2/registration/user}" th:object="${userDTO}">
    <div>
        <label for="email">Email</label>
        <input type="email" th:field="*{email}" id="email" required/>

        <br/>

        <label for="password">Password</label>
        <input type="password" th:field="*{password}" id="password" required/>

        <br/>

        <label for="phoneNumber">Phone number</label>
        <input type="text" th:field="*{phoneNumber}" id="phoneNumber"/>

        <br/>

        <label for="firstName">First name</label>
        <input type="text" th:field="*{firstName}" id="firstName"/>

        <br/>

        <label for="lastName">Last name</label>
        <input type="text" th:field="*{lastName}" id="lastName"/>

        <br/>

        <input type="submit" value="Registration">
    </div>
</form>
</body>
</html>